[submodule "submodules/Vector"]
	path = submodules/Vector
	url = https://github.com/DJOLEARY/Vector.git
[submodule "submodules/SDL2_Helper"]
	path = submodules/SDL2_Helper
	url = https://github.com/DJOLEARY/SDL2_Helper.git
[submodule "submodules/Angle"]
	path = submodules/Angle
	url = https://github.com/DJOLEARY/Angle
